.message {
    margin: 12px 4px;
    padding: 24px 12px;
    text-align: center;
}

.error {
    color: #b10000;
    background-color: #ffdddd;
}

.success {
    color: #067600;
    background-color: #e3ffdf;
}