.message {
    margin: 12px 4px;
    padding: 24px 12px;
    text-align: center;
}

.error {
    color: #b10000;
    background-color: #ffdddd;
}

.warning {
    color: #b15e00;
    background-color: #ffebdf;
}

.success {
    color: #067600;
    background-color: #e3ffdf;
}

.table .action-col {
    text-align: right;
}

/*
 * Delete buttons should be harder to click. They should not be right next to other buttons where they may get
 * accidentally clicked. As such, we make it smaller and push it slightly to the right away from other buttons to
 * its left.
 */
.btn-delete {
    margin-left: 12px;
    font-size: 0.8em;
}

.btn[disabled=disabled] {
    background-color: #ebebeb !important;
    color: #8d8d8d !important;
    border-color: #c2c2c2 !important;
}

/* All except the first title need space above them to separate parts of the dashboard from eachother. */
.dashboard-page .title-block:not(:first-child) {
    margin-top: 32px;
}

.sidebar-header .brand a {
    font-weight: bold;
    font-size: 18px;
    color: white;
    display: block;
    text-decoration: none;
}

.sidebar-header .brand a:hover {
    text-decoration: underline;
}

.chosen-container {
    display: block;
}

.indicatorDefault {
    background: rgba(4, 15, 95, 0.24);
    border-radius: 10px;
    width: 220px;
    padding-left: 9px;
    padding-top: 1px;
    padding-bottom: 2px;
    font-weight: bold;
    margin-bottom: 15px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.article-row.published {
    background-color: rgba(72, 255, 35, 0.25);
}

.article-row.unpublished {
    background-color: rgba(255, 178, 35, 0.25);
}
